In [ ]:
!pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)

In [ ]:
!pip install bs4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4) (2.4.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=1f33a5077d6f9324bbfc1dfb4560da977ba8e724732f0ee1a0dbf66ab636461b
  Stored in directory: /root/.cache/pip/wheels/25/42/45/b773edc52acb16cd2db4cf1a0b47117e2f69bb4eb300ed0e70
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Find function

In [ ]:
url = "https://webscraper.io/test-sites/e-commerce/allinone/computers"

r = requests.get(url)

print(r.status_code) # get the code to see is it is possible to acess the website

#print(r.text) # get the html text

soup = BeautifulSoup(r.text, "lxml")

# print(soup.find('div')) get all div tag

# Let´s get the text inside the h4 tag and inside class atribute
price = soup.find('h4',{'class':"pull-right price"})
print(price.string)

# Let´s get the data inside the p tagg and inside class atribute
desc = soup.find('p',{'class':'description'})
print(desc.string)

200
$1238.37
Dell Latitude 5480, 14" FHD, Core i7-7600U, 8GB, 256GB SSD, Linux

Find all function

In [ ]:
url = "https://webscraper.io/test-sites/e-commerce/allinone/computers/tablets"

r = requests.get(url)

print(r.status_code)

soup = BeautifulSoup(r.text,'lxml')

# Prices
prices = soup.find_all('h4',{'class':'pull-right price'})
# print(prices[3])
# print(len(prices))

# print every prices
for i in prices:
  print(i.text)

# Description
desc = soup.find_all('p',{'class':'description'})

for i in desc:
  print(i.text)

200
$69.99
$88.99
$96.99
$97.99
$99.99
$101.99
$102.99
$103.99
$107.99
$121.99
$130.99
$148.99
$172.99
$233.99
$251.99
$320.99
$399.99
$489.99
$537.99
$587.99
$603.99
7" screen, Android
Black, 7" IPS, Quad-Core 1.2GHz, 8GB, Android 4.2
7" screen, Android, 16GB
7", 8GB, Wi-Fi, Android 4.2, White
Black, 7", 1.6GHz Dual-Core, 8GB, Android 4.4
IPS, Dual-Core 1.2GHz, 8GB, Android 4.3
7" screen, Android, 8GB
6" screen, wifi
7", 8GB, Wi-Fi, Android 4.2, Yellow
Blue, 8" IPS, Quad-Core 1.3GHz, 16GB, Android 4.2
White, 7", Atom 1.2GHz, 8GB, Android 4.4
Blue, 7" IPS, Quad-Core 1.3GHz, 8GB, 3G, Android 4.2
Silver, 7" IPS, Quad-Core 1.2Ghz, 16GB, 3G, Android 4.2
LTE (SM-T235), Quad-Core 1.2GHz, 8GB, Black
16GB, White
White, 10.1" IPS, 1.6GHz, 2GB, 16GB, Android 4.2
10.1", 3G, Android 4.0, Garnet Red
12.2", 32GB, WiFi, Android 4.4, White
Wi-Fi + Cellular, 32GB, Silver
10.1", 32GB, Black
Wi-Fi, 64GB, Silver

Findall with Regex

In [ ]:
import re

In [ ]:
url = 'https://webscraper.io/test-sites/e-commerce/allinone/computers/tablets'

r = requests.get(url)

soup = BeautifulSoup(r.text, 'lxml')

# Find multiple taggs
#data = soup.fin_all(['h4','a','p'])


data = soup.find_all(string= re.compile('Idea'))
print(data)

['Lenovo IdeaTab', 'IdeaTab A3500L', 'IdeaTab A8-50', 'IdeaTab A3500-H', 'IdeaTab S5000']

Findall with Pandas

In [ ]:
import pandas as pd

In [ ]:
url = 'https://webscraper.io/test-sites/e-commerce/allinone/computers/tablets'

r = requests.get(url)

soup = BeautifulSoup(r.text, 'lxml')

# Get the name and create a list
names = soup.find_all('a',{'class':'title'})
#print(names)
product_name = []

for i in names:
  name = i.text
  product_name.append(name)

print(product_name)

# Get the prices and create a list
prices = soup.find_all('h4',{'class':'pull-right price'})
product_price = []
for i in prices:
  price = i.text
  product_price.append(price)

print(product_price)

# Get the descriptions and create a list
descs = soup.find_all('p',{'class':'description'})
product_desc = []
for i in descs:
  desc = i.text
  product_desc.append(desc)

print(product_desc)

# Get the reviews and create a list
reviews = soup.find_all('p',{'class':'pull-right'})
product_review = []
for i in reviews:
  review = i.text
  product_review.append(review)

print(product_review)

# Create a dataframe with all the previus data
df = pd.DataFrame({'Product Name':product_name,
                   'Prices':product_price,
                   'Description':product_desc,
                   'Reviews':product_review})
df

['Lenovo IdeaTab', 'IdeaTab A3500L', 'Acer Iconia', 'Galaxy Tab 3', 'Iconia B1-730HD', 'Memo Pad HD 7', 'Asus MeMO Pad', 'Amazon Kindle', 'Galaxy Tab 3', 'IdeaTab A8-50', 'MeMO Pad 7', 'IdeaTab A3500-H', 'IdeaTab S5000', 'Galaxy Tab 4', 'Galaxy Tab', 'MeMo PAD FHD 10', 'Galaxy Note', 'Galaxy Note', 'iPad Mini Retina', 'Galaxy Note 10.1', 'Apple iPad Air']
['$69.99', '$88.99', '$96.99', '$97.99', '$99.99', '$101.99', '$102.99', '$103.99', '$107.99', '$121.99', '$130.99', '$148.99', '$172.99', '$233.99', '$251.99', '$320.99', '$399.99', '$489.99', '$537.99', '$587.99', '$603.99']
['7" screen, Android', 'Black, 7" IPS, Quad-Core 1.2GHz, 8GB, Android 4.2', '7" screen, Android, 16GB', '7", 8GB, Wi-Fi, Android 4.2, White', 'Black, 7", 1.6GHz Dual-Core, 8GB, Android 4.4', 'IPS, Dual-Core 1.2GHz, 8GB, Android 4.3', '7" screen, Android, 8GB', '6" screen, wifi', '7", 8GB, Wi-Fi, Android 4.2, Yellow', 'Blue, 8" IPS, Quad-Core 1.3GHz, 16GB, Android 4.2', 'White, 7", Atom 1.2GHz, 8GB, Android 4.4', 'Blue, 7" IPS, Quad-Core 1.3GHz, 8GB, 3G, Android 4.2', 'Silver, 7" IPS, Quad-Core 1.2Ghz, 16GB, 3G, Android 4.2', 'LTE (SM-T235), Quad-Core 1.2GHz, 8GB, Black', '16GB, White', 'White, 10.1" IPS, 1.6GHz, 2GB, 16GB, Android 4.2', '10.1", 3G, Android 4.0, Garnet Red', '12.2", 32GB, WiFi, Android 4.4, White', 'Wi-Fi + Cellular, 32GB, Silver', '10.1", 32GB, Black', 'Wi-Fi, 64GB, Silver']
['7 reviews', '7 reviews', '7 reviews', '2 reviews', '1 reviews', '10 reviews', '14 reviews', '3 reviews', '14 reviews', '13 reviews', '11 reviews', '9 reviews', '8 reviews', '1 reviews', '14 reviews', '7 reviews', '12 reviews', '9 reviews', '8 reviews', '6 reviews', '7 reviews']

,Product Name,Prices,Description,Reviews
0,Lenovo IdeaTab,$69.99,"7"" screen, Android",7 reviews
1,IdeaTab A3500L,$88.99,"Black, 7"" IPS, Quad-Core 1.2GHz, 8GB, Android 4.2",7 reviews
2,Acer Iconia,$96.99,"7"" screen, Android, 16GB",7 reviews
3,Galaxy Tab 3,$97.99,"7"", 8GB, Wi-Fi, Android 4.2, White",2 reviews
4,Iconia B1-730HD,$99.99,"Black, 7"", 1.6GHz Dual-Core, 8GB, Android 4.4",1 reviews
5,Memo Pad HD 7,$101.99,"IPS, Dual-Core 1.2GHz, 8GB, Android 4.3",10 reviews
6,Asus MeMO Pad,$102.99,"7"" screen, Android, 8GB",14 reviews
7,Amazon Kindle,$103.99,"6"" screen, wifi",3 reviews
8,Galaxy Tab 3,$107.99,"7"", 8GB, Wi-Fi, Android 4.2, Yellow",14 reviews
9,IdeaTab A8-50,$121.99,"Blue, 8"" IPS, Quad-Core 1.3GHz, 16GB, Android 4.2",13 reviews
10,MeMO Pad 7,$130.99,"White, 7"", Atom 1.2GHz, 8GB, Android 4.4",11 reviews
11,IdeaTab A3500-H,$148.99,"Blue, 7"" IPS, Quad-Core 1.3GHz, 8GB, 3G, Andro...",9 reviews
12,IdeaTab S5000,$172.99,"Silver, 7"" IPS, Quad-Core 1.2Ghz, 16GB, 3G, An...",8 reviews
13,Galaxy Tab 4,$233.99,"LTE (SM-T235), Quad-Core 1.2GHz, 8GB, Black",1 reviews
14,Galaxy Tab,$251.99,"16GB, White",14 reviews
15,MeMo PAD FHD 10,$320.99,"White, 10.1"" IPS, 1.6GHz, 2GB, 16GB, Android 4.2",7 reviews
16,Galaxy Note,$399.99,"10.1"", 3G, Android 4.0, Garnet Red",12 reviews
17,Galaxy Note,$489.99,"12.2"", 32GB, WiFi, Android 4.4, White",9 reviews
18,iPad Mini Retina,$537.99,"Wi-Fi + Cellular, 32GB, Silver",8 reviews
19,Galaxy Note 10.1,$587.99,"10.1"", 32GB, Black",6 reviews
20,Apple iPad Air,$603.99,"Wi-Fi, 64GB, Silver",7 reviews

Extracting Data from Nested HTML Tags

In [ ]:
url = 'https://webscraper.io/test-sites/e-commerce/allinone/computers/tablets'

r = requests.get(url)

soup = BeautifulSoup(r.text,'lxml')

#boxes = soup.find_all('div',{'class':'col-sm-4 col-lg-4 col-md-4'})
#print(len(boxes))

box = soup.find_all('div',{'class':'col-sm-4 col-lg-4 col-md-4'})[3]
print(box)

<div class="col-sm-4 col-lg-4 col-md-4">
<div class="thumbnail">
<img alt="item" class="img-responsive" src="/images/test-sites/e-commerce/items/cart2.png"/>
<div class="caption">
<h4 class="pull-right price">$97.99</h4>
<h4>
<a class="title" href="/test-sites/e-commerce/allinone/product/503" title="Galaxy Tab 3">Galaxy Tab 3</a>
</h4>
<p class="description">7", 8GB, Wi-Fi, Android 4.2, White</p>
</div>
<div class="ratings">
<p class="pull-right">2 reviews</p>
<p data-rating="2">
<span class="glyphicon glyphicon-star"></span>
<span class="glyphicon glyphicon-star"></span>
</p>
</div>
</div>
</div>

In [ ]:
name = box.find('a').text
print(name)

desc = box.find('p',{'class':'description'}).text
print(desc)

Galaxy Tab 3
7", 8GB, Wi-Fi, Android 4.2, White

In [ ]:
# Acess navigation side bar
url = 'https://webscraper.io/test-sites/e-commerce/allinone/computers'

r = requests.get(url)

soup = BeautifulSoup(r.text,'lxml')

navbar = soup.find_all('ul',{'class':'nav'},id ='side-menu')[0]
text = navbar.find('li',{'class':'active'})
print(text.text)

					Computers





							Tablets




							Laptops

Extract Data From Tables

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.oneindia.com/coronavirus-affected-cities-districts-in-india.html'
r = requests.get(url)
soup = BeautifulSoup(r.text, 'lxml')

# Find the table
table = soup.find('table', {'class': 'corona-cases-table'})

# Get the table headers
titles = []
headers = table.find_all('th')
for header in headers:
    title = header.text
    titles.append(title)

# Create the dataframe
df = pd.DataFrame(columns=titles)

# Get the table content and append it to the dataframe
rows = table.find_all('tr')

for row in rows[1:]:
    data = row.find_all('td')
    row_values = [tr.text for tr in data]

    # Check for mismatched columns
    if len(row_values) == len(df.columns):
        df.loc[len(df)] = row_values
    else:
        print(f"Skipping row: {row_values}")

df

Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['Pune', '1099851 1146', 'N/A']
Skipping row: ['Mumbai', '738239 285', 'N/A']
Skipping row: ['Thane', '592025 263', 'N/A']
Skipping row: ['Nagpur', '493063 5', 'N/A']
Skipping row: ['Nashik', '403658 102', 'N/A']
Skipping row: ['Ahmednagar', '294758 834', 'N/A']
Skipping row: ['Satara', '226151 594', 'N/A']
Skipping row: ['Kolhapur', '199490 337', 'N/A']
Skipping row: ['Solapur', '194066 602', 'N/A']
Skipping row: ['Sangli', '192215 568', 'N/A']
Skipping row: ['Raigad', '185702 191', 'N/A']
Skipping row: ['Aurangabad', '154499 23', 'N/A']
Skipping row: ['Jalgaon', '139800 7', 'N/A']
Skipping row: ['Palghar', '133835 52', 'N/A']
Skipping row: ['Beed', '99459 113', 'N/A']
Skipping row: ['Amravati', '96012 4', 'N/A']
Skipping row: ['Latur', '91166 35', 'N/A']
Skipping row: ['Nanded', '90649 6', 'N/A']
Skipping row: ['Chandrapur', '88688 2', 'N/A']
Skipping row: ['Buldhana', '84828 18', 'N/A']
Skipping row: ['Yavatmal', '76220 3', 'N/A']
Skipping row: ['Ratnagiri', '73420 155', 'N/A']
Skipping row: ['Osmanabad', '64970 101', 'N/A']
Skipping row: ['Jalna', '60314 16', 'N/A']
Skipping row: ['Bhandara', '60038 1', 'N/A']
Skipping row: ['Akola', '58638 4', 'N/A']
Skipping row: ['Wardha', '58342 ', 'N/A']
Skipping row: ['Parbhani', '52279 2', 'N/A']
Skipping row: ['Sindhudurg', '49379 83', 'N/A']
Skipping row: ['Dhule', '46270 ', 'N/A']
Skipping row: ['Washim', '41623 2', 'N/A']
Skipping row: ['Gondia', '40534 ', 'N/A']
Skipping row: ['Nandurbar', '39968 ', 'N/A']
Skipping row: ['Gadchiroli', '30288 5', 'N/A']
Skipping row: ['Hingoli', '18419 1', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['Malappuram', '440734 3109', 'N/A']
Skipping row: ['Ernakulam', '430396 2856', 'N/A']
Skipping row: ['Kozhikode', '387573 2789', 'N/A']
Skipping row: ['Thrissur', '355009 3124', 'N/A']
Skipping row: ['Thiruvananthapuram', '343093 1255', 'N/A']
Skipping row: ['Kollam', '284264 1633', 'N/A']
Skipping row: ['Palakkad', '269048 2414', 'N/A']
Skipping row: ['Alappuzha', '237133 1440', 'N/A']
Skipping row: ['Kottayam', '231995 1227', 'N/A']
Skipping row: ['Kannur', '199236 1194', 'N/A']
Skipping row: ['Pathanamthitta', '136773 696', 'N/A']
Skipping row: ['Kasaragod', '114698 562', 'N/A']
Skipping row: ['Idukki', '96572 637', 'N/A']
Skipping row: ['Wayanad', '83669 564', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['Bengaluru Urban', '1231474 377', 'N/A']
Skipping row: ['Mysuru', '174199 118', 'N/A']
Skipping row: ['Tumakuru', '118431 88', 'N/A']
Skipping row: ['Hassan', '107826 175', 'N/A']
Skipping row: ['Dakshina Kannada', '104257 422', 'N/A']
Skipping row: ['Ballari', '97504 13', 'N/A']
Skipping row: ['Belagavi', '78627 47', 'N/A']
Skipping row: ['Mandya', '72492 35', 'N/A']
Skipping row: ['Udupi', '71170 130', 'N/A']
Skipping row: ['Shivamogga', '67431 47', 'N/A']
Skipping row: ['Kalaburagi', '61687 4', 'N/A']
Skipping row: ['Bengaluru Rural', '61199 26', 'N/A']
Skipping row: ['Dharwad', '60600 17', 'N/A']
Skipping row: ['Uttara Kannada', '54051 79', 'N/A']
Skipping row: ['Davanagere', '50500 13', 'N/A']
Skipping row: ['Chikkamagaluru', '49033 65', 'N/A']
Skipping row: ['Kolar', '45901 36', 'N/A']
Skipping row: ['Chikkaballapura', '43776 7', 'N/A']
Skipping row: ['Raichur', '39900 2', 'N/A']
Skipping row: ['Vijayapura', '36174 2', 'N/A']
Skipping row: ['Chitradurga', '36095 16', 'N/A']
Skipping row: ['Bagalkote', '35121 3', 'N/A']
Skipping row: ['Koppal', '35117 4', 'N/A']
Skipping row: ['Kodagu', '33974 71', 'N/A']
Skipping row: ['Chamarajanagara', '32577 15', 'N/A']
Skipping row: ['Yadgir', '27501 3', 'N/A']
Skipping row: ['Gadag', '26004 ', 'N/A']
Skipping row: ['Bidar', '24284 ', 'N/A']
Skipping row: ['Ramanagara', '24050 6', 'N/A']
Skipping row: ['Haveri', '21884 5', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['Chennai', '540300 237', 'N/A']
Skipping row: ['Coimbatore', '231863 230', 'N/A']
Skipping row: ['Chengalpattu', '163274 139', 'N/A']
Skipping row: ['Thiruvallur', '114461 100', 'N/A']
Skipping row: ['Erode', '95559 160', 'N/A']
Skipping row: ['Salem', '94328 86', 'N/A']
Skipping row: ['Tiruppur', '88754 78', 'N/A']
Skipping row: ['Madurai', '73729 15', 'N/A']
Skipping row: ['Tiruchirappalli', '73209 74', 'N/A']
Skipping row: ['Kancheepuram', '72144 42', 'N/A']
Skipping row: ['Thanjavur', '68972 77', 'N/A']
Skipping row: ['Cuddalore', '61220 76', 'N/A']
Skipping row: ['Kanyakumari', '60451 30', 'N/A']
Skipping row: ['Thoothukkudi', '55274 18', 'N/A']
Skipping row: ['Tiruvannamalai', '52586 52', 'N/A']
Skipping row: ['Vellore', '48356 39', 'N/A']
Skipping row: ['Tirunelveli', '48151 14', 'N/A']
Skipping row: ['Namakkal', '47771 37', 'N/A']
Skipping row: ['Virudhunagar', '45628 10', 'N/A']
Skipping row: ['Viluppuram', '44205 37', 'N/A']
Skipping row: ['Theni', '43038 13', 'N/A']
Skipping row: ['Ranipet', '42169 22', 'N/A']
Skipping row: ['Krishnagiri', '41638 26', 'N/A']
Skipping row: ['Thiruvarur', '38327 40', 'N/A']
Skipping row: ['Dindigul', '32322 13', 'N/A']
Skipping row: ['Nilgiris', '31048 43', 'N/A']
Skipping row: ['Kallakurichi', '29521 31', 'N/A']
Skipping row: ['Pudukkottai', '28533 39', 'N/A']
Skipping row: ['Tirupathur', '28410 10', 'N/A']
Skipping row: ['Tenkasi', '26928 9', 'N/A']
Skipping row: ['Dharmapuri', '26415 25', 'N/A']
Skipping row: ['Karur', '22836 23', 'N/A']
Skipping row: ['Mayiladuthurai', '21325 25', 'N/A']
Skipping row: ['Ramanathapuram', '20110 6', 'N/A']
Skipping row: ['Nagapattinam', '19075 36', 'N/A']
Skipping row: ['Sivaganga', '19022 21', 'N/A']
Skipping row: ['Ariyalur', '16037 21', 'N/A']
Skipping row: ['Perambalur', '11579 10', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['East Godavari', '281384 385', 'N/A']
Skipping row: ['Chittoor', '234198 175', 'N/A']
Skipping row: ['West Godavari', '171354 304', 'N/A']
Skipping row: ['Guntur', '169978 222', 'N/A']
Skipping row: ['Anantapur', '156673 51', 'N/A']
Skipping row: ['Visakhapatnam', '153395 63', 'N/A']
Skipping row: ['S.P.S. Nellore', '136685 177', 'N/A']
Skipping row: ['Prakasam', '131478 98', 'N/A']
Skipping row: ['Kurnool', '123525 10', 'N/A']
Skipping row: ['Srikakulam', '121217 82', 'N/A']
Skipping row: ['Y.S.R. Kadapa', '111341 133', 'N/A']
Skipping row: ['Krishna', '111221 148', 'N/A']
Skipping row: ['Vizianagaram', '81707 21', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['Lucknow', '238644 2', 'N/A']
Skipping row: ['Varanasi', '85466 ', 'N/A']
Skipping row: ['Kanpur Nagar', '82893 1', 'N/A']
Skipping row: ['Prayagraj', '78607 2', 'N/A']
Skipping row: ['Meerut', '69420 -1', 'N/A']
Skipping row: ['Gautam Buddha Nagar', '63228 4', 'N/A']
Skipping row: ['Gorakhpur', '59377 1', 'N/A']
Skipping row: ['Ghaziabad', '55622 2', 'N/A']
Skipping row: ['Bareilly', '43970 -1', 'N/A']
Skipping row: ['Moradabad', '39094 ', 'N/A']
Skipping row: ['Jhansi', '36539 1', 'N/A']
Skipping row: ['Saharanpur', '32749 ', 'N/A']
Skipping row: ['Muzaffarnagar', '30999 ', 'N/A']
Skipping row: ['Agra', '25734 ', 'N/A']
Skipping row: ['Lakhimpur Kheri', '24405 ', 'N/A']
Skipping row: ['Jaunpur', '22568 ', 'N/A']
Skipping row: ['Ghazipur', '21636 1', 'N/A']
Skipping row: ['Ballia', '21606 ', 'N/A']
Skipping row: ['Aligarh', '21276 ', 'N/A']
Skipping row: ['Shahjahanpur', '20352 ', 'N/A']
Skipping row: ['Mathura', '20273 1', 'N/A']
Skipping row: ['Deoria', '20212 ', 'N/A']
Skipping row: ['Bulandshahr', '20201 ', 'N/A']
Skipping row: ['Barabanki', '19832 ', 'N/A']
Skipping row: ['Azamgarh', '17886 ', 'N/A']
Skipping row: ['Rae Bareli', '17074 ', 'N/A']
Skipping row: ['Ayodhya', '16912 ', 'N/A']
Skipping row: ['Sonbhadra', '16799 ', 'N/A']
Skipping row: ['Amroha', '16610 ', 'N/A']
Skipping row: ['Chandauli', '16198 ', 'N/A']
Skipping row: ['Pratapgarh', '16023 ', 'N/A']
Skipping row: ['Kushinagar', '15610 ', 'N/A']
Skipping row: ['Unnao', '14996 ', 'N/A']
Skipping row: ['Budaun', '14924 ', 'N/A']
Skipping row: ['Sultanpur', '14907 ', 'N/A']
Skipping row: ['Bijnor', '14788 ', 'N/A']
Skipping row: ['Etawah', '13928 1', 'N/A']
Skipping row: ['Hardoi', '13754 ', 'N/A']
Skipping row: ['Shamli', '12974 ', 'N/A']
Skipping row: ['Lalitpur', '12734 ', 'N/A']
Skipping row: ['Hapur', '12628 ', 'N/A']
Skipping row: ['Maharajganj', '12394 3', 'N/A']
Skipping row: ['Sitapur', '12392 ', 'N/A']
Skipping row: ['Gonda', '12281 ', 'N/A']
Skipping row: ['Rampur', '11817 2', 'N/A']
Skipping row: ['Basti', '11714 ', 'N/A']
Skipping row: ['Jalaun', '11661 ', 'N/A']
Skipping row: ['Bahraich', '11546 ', 'N/A']
Skipping row: ['Mirzapur', '11082 ', 'N/A']
Skipping row: ['Pilibhit', '11027 ', 'N/A']
Skipping row: ['Banda', '10985 ', 'N/A']
Skipping row: ['Farrukhabad', '10340 ', 'N/A']
Skipping row: ['Auraiya', '10079 ', 'N/A']
Skipping row: ['Mainpuri', '10017 1', 'N/A']
Skipping row: ['Etah', '9963 ', 'N/A']
Skipping row: ['Amethi', '9958 ', 'N/A']
Skipping row: ['Sambhal', '9436 ', 'N/A']
Skipping row: ['Siddharthnagar', '9364 ', 'N/A']
Skipping row: ['Kannauj', '9220 1', 'N/A']
Skipping row: ['Baghpat', '9128 ', 'N/A']
Skipping row: ['Firozabad', '8715 ', 'N/A']
Skipping row: ['Mau', '8323 ', 'N/A']
Skipping row: ['Sant Kabir Nagar', '8157 ', 'N/A']
Skipping row: ['Bhadohi', '7717 ', 'N/A']
Skipping row: ['Balrampur', '7487 1', 'N/A']
Skipping row: ['Chitrakoot', '7106 ', 'N/A']
Skipping row: ['Fatehpur', '6800 ', 'N/A']
Skipping row: ['Kanpur Dehat', '6189 ', 'N/A']
Skipping row: ['Hamirpur', '5229 ', 'N/A']
Skipping row: ['Ambedkar Nagar', '5028 2', 'N/A']
Skipping row: ['Kaushambi', '4416 ', 'N/A']
Skipping row: ['Shrawasti', '4385 ', 'N/A']
Skipping row: ['Mahoba', '4268 ', 'N/A']
Skipping row: ['Kasganj', '4247 ', 'N/A']
Skipping row: ['Hathras', '2917 ', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['North 24 Parganas', '320162 89', 'N/A']
Skipping row: ['Kolkata', '311183 78', 'N/A']
Skipping row: ['South 24 Parganas', '96592 63', 'N/A']
Skipping row: ['Howrah', '94880 57', 'N/A']
Skipping row: ['Hooghly', '82138 28', 'N/A']
Skipping row: ['Nadia', '69668 39', 'N/A']
Skipping row: ['Purba Medinipur', '60872 53', 'N/A']
Skipping row: ['Paschim Bardhaman', '56402 18', 'N/A']
Skipping row: ['Darjeeling', '54050 71', 'N/A']
Skipping row: ['Paschim Medinipur', '51094 38', 'N/A']
Skipping row: ['Birbhum', '40424 9', 'N/A']
Skipping row: ['Jalpaiguri', '40269 37', 'N/A']
Skipping row: ['Purba Bardhaman', '40241 16', 'N/A']
Skipping row: ['Bankura', '34724 13', 'N/A']
Skipping row: ['Murshidabad', '33633 2', 'N/A']
Skipping row: ['Malda', '32700 5', 'N/A']
Skipping row: ['Cooch Behar', '27938 33', 'N/A']
Skipping row: ['Uttar Dinajpur', '19513 15', 'N/A']
Skipping row: ['Purulia', '19205 3', 'N/A']
Skipping row: ['Dakshin Dinajpur', '16976 7', 'N/A']
Skipping row: ['Alipurduar', '15027 16', 'N/A']
Skipping row: ['Jhargram', '11429 8', 'N/A']
Skipping row: ['Kalimpong', '6513 2', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['Central Delhi', '184 ', 'N/A']
Skipping row: ['South East Delhi', '130 ', 'N/A']
Skipping row: ['West Delhi', '122 ', 'N/A']
Skipping row: ['South Delhi', '70 ', 'N/A']
Skipping row: ['North Delhi', '60 ', 'N/A']
Skipping row: ['Shahdara', '48 ', 'N/A']
Skipping row: ['South West Delhi', '42 ', 'N/A']
Skipping row: ['East Delhi', '38 ', 'N/A']
Skipping row: ['New Delhi', '37 ', 'N/A']
Skipping row: ['North West Delhi', '32 ', 'N/A']
Skipping row: ['North East Delhi', '25 ', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['Khordha', '153972 372', 'N/A']
Skipping row: ['Cuttack', '88249 147', 'N/A']
Skipping row: ['Sundargarh', '60901 6', 'N/A']
Skipping row: ['Puri', '44013 48', 'N/A']
Skipping row: ['Angul', '43056 26', 'N/A']
Skipping row: ['Jajpur', '41724 58', 'N/A']
Skipping row: ['Mayurbhanj', '39008 35', 'N/A']
Skipping row: ['Balasore', '38584 45', 'N/A']
Skipping row: ['Ganjam', '33502 6', 'N/A']
Skipping row: ['Bargarh', '30775 6', 'N/A']
Skipping row: ['Sambalpur', '30621 12', 'N/A']
Skipping row: ['State Pool', '27180 83', 'N/A']
Skipping row: ['Jagatsinghpur', '26084 58', 'N/A']
Skipping row: ['Bhadrak', '25719 25', 'N/A']
Skipping row: ['Kalahandi', '24172 1', 'N/A']
Skipping row: ['Kendrapara', '23736 51', 'N/A']
Skipping row: ['Jharsuguda', '23624 8', 'N/A']
Skipping row: ['Nabarangapur', '23472 1', 'N/A']
Skipping row: ['Balangir', '23218 4', 'N/A']
Skipping row: ['Nayagarh', '22829 26', 'N/A']
Skipping row: ['Nuapada', '22812 5', 'N/A']
Skipping row: ['Kendujhar', '20534 12', 'N/A']
Skipping row: ['Rayagada', '19887 4', 'N/A']
Skipping row: ['Dhenkanal', '19231 16', 'N/A']
Skipping row: ['Koraput', '18883 ', 'N/A']
Skipping row: ['Subarnapur', '13098 5', 'N/A']
Skipping row: ['Boudh', '12528 1', 'N/A']
Skipping row: ['Malkangiri', '11522 5', 'N/A']
Skipping row: ['Kandhamal', '11397 6', 'N/A']
Skipping row: ['Gajapati', '9531 2', 'N/A']
Skipping row: ['Deogarh', '6213 4', 'N/A']
Skipping row: ['Others', '0 ', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['Jaipur', '187598 6', 'N/A']
Skipping row: ['Jodhpur', '112374 ', 'N/A']
Skipping row: ['Alwar', '59652 ', 'N/A']
Skipping row: ['Kota', '57051 ', 'N/A']
Skipping row: ['Udaipur', '56358 5', 'N/A']
Skipping row: ['Bikaner', '40311 ', 'N/A']
Skipping row: ['Ajmer', '37715 1', 'N/A']
Skipping row: ['Sikar', '30605 1', 'N/A']
Skipping row: ['Bhilwara', '29773 ', 'N/A']
Skipping row: ['Pali', '27315 3', 'N/A']
Skipping row: ['Chittorgarh', '19809 ', 'N/A']
Skipping row: ['Bharatpur', '19590 1', 'N/A']
Skipping row: ['Ganganagar', '19336 ', 'N/A']
Skipping row: ['Dungarpur', '18407 ', 'N/A']
Skipping row: ['Nagaur', '17727 ', 'N/A']
Skipping row: ['Rajsamand', '17041 1', 'N/A']
Skipping row: ['Churu', '16719 ', 'N/A']
Skipping row: ['Hanumangarh', '16050 ', 'N/A']
Skipping row: ['Barmer', '15550 1', 'N/A']
Skipping row: ['Jhunjhunu', '14802 ', 'N/A']
Skipping row: ['Sirohi', '13729 ', 'N/A']
Skipping row: ['Jaisalmer', '13639 ', 'N/A']
Skipping row: ['Jhalawar', '13599 ', 'N/A']
Skipping row: ['Dausa', '13351 ', 'N/A']
Skipping row: ['Baran', '11993 ', 'N/A']
Skipping row: ['Dholpur', '11006 ', 'N/A']
Skipping row: ['Sawai Madhopur', '10602 ', 'N/A']
Skipping row: ['Jalore', '10065 ', 'N/A']
Skipping row: ['Banswara', '10005 ', 'N/A']
Skipping row: ['Tonk', '9495 ', 'N/A']
Skipping row: ['Bundi', '7967 ', 'N/A']
Skipping row: ['Karauli', '7156 ', 'N/A']
Skipping row: ['Pratapgarh', '7143 ', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['Ahmedabad', '238022 7', 'N/A']
Skipping row: ['Surat', '143490 3', 'N/A']
Skipping row: ['Vadodara', '77912 3', 'N/A']
Skipping row: ['Rajkot', '57920 ', 'N/A']
Skipping row: ['Jamnagar', '34949 1', 'N/A']
Skipping row: ['Mehsana', '24414 ', 'N/A']
Skipping row: ['Bhavnagar', '21413 ', 'N/A']
Skipping row: ['Gandhinagar', '20740 ', 'N/A']
Skipping row: ['Junagadh', '20469 ', 'N/A']
Skipping row: ['Banaskantha', '13631 ', 'N/A']
Skipping row: ['Kutch', '12587 ', 'N/A']
Skipping row: ['Panchmahal', '11770 ', 'N/A']
Skipping row: ['Patan', '11624 ', 'N/A']
Skipping row: ['Bharuch', '11425 ', 'N/A']
Skipping row: ['Amreli', '10806 ', 'N/A']
Skipping row: ['Kheda', '10422 ', 'N/A']
Skipping row: ['Dahod', '9943 ', 'N/A']
Skipping row: ['Anand', '9623 ', 'N/A']
Skipping row: ['Sabarkantha', '9314 ', 'N/A']
Skipping row: ['Gir Somnath', '8555 1', 'N/A']
Skipping row: ['Mahisagar', '8192 ', 'N/A']
Skipping row: ['Surendranagar', '8121 ', 'N/A']
Skipping row: ['Navsari', '7155 1', 'N/A']
Skipping row: ['Morbi', '6502 ', 'N/A']
Skipping row: ['Valsad', '6244 ', 'N/A']
Skipping row: ['Narmada', '5952 ', 'N/A']
Skipping row: ['Aravalli', '5183 ', 'N/A']
Skipping row: ['Tapi', '4438 ', 'N/A']
Skipping row: ['Devbhumi Dwarka', '4172 ', 'N/A']
Skipping row: ['Porbandar', '3474 ', 'N/A']
Skipping row: ['Chhota Udaipur', '3395 ', 'N/A']
Skipping row: ['Botad', '2218 ', 'N/A']
Skipping row: ['Dang', '864 ', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['Raipur', '157796 4', 'N/A']
Skipping row: ['Durg', '96644 1', 'N/A']
Skipping row: ['Bilaspur', '65457 6', 'N/A']
Skipping row: ['Raigarh', '62463 2', 'N/A']
Skipping row: ['Janjgir Champa', '57429 8', 'N/A']
Skipping row: ['Rajnandgaon', '56011 1', 'N/A']
Skipping row: ['Korba', '54569 3', 'N/A']
Skipping row: ['Baloda Bazar', '43005 4', 'N/A']
Skipping row: ['Surguja', '33638 1', 'N/A']
Skipping row: ['Mahasamund', '31319 2', 'N/A']
Skipping row: ['Surajpur', '29015 ', 'N/A']
Skipping row: ['Balod', '27256 ', 'N/A']
Skipping row: ['Dhamtari', '27188 2', 'N/A']
Skipping row: ['Jashpur', '26924 5', 'N/A']
Skipping row: ['Koriya', '26918 6', 'N/A']
Skipping row: ['Mungeli', '23891 1', 'N/A']
Skipping row: ['Uttar Bastar Kanker', '23530 6', 'N/A']
Skipping row: ['Kabeerdham', '22768 1', 'N/A']
Skipping row: ['Bastar', '20927 16', 'N/A']
Skipping row: ['Balrampur', '20276 1', 'N/A']
Skipping row: ['Bametara', '19943 ', 'N/A']
Skipping row: ['Gariaband', '19668 ', 'N/A']
Skipping row: ['Kondagaon', '13062 3', 'N/A']
Skipping row: ['Dakshin Bastar Dantewada', '10746 3', 'N/A']
Skipping row: ['Bijapur', '8255 2', 'N/A']
Skipping row: ['Sukma', '7967 5', 'N/A']
Skipping row: ['Narayanpur', '4003 ', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['Gurugram', '180972 4', 'N/A']
Skipping row: ['Faridabad', '99801 2', 'N/A']
Skipping row: ['Hisar', '53976 ', 'N/A']
Skipping row: ['Sonipat', '47126 ', 'N/A']
Skipping row: ['Karnal', '39999 ', 'N/A']
Skipping row: ['Panipat', '31135 ', 'N/A']
Skipping row: ['Panchkula', '30656 2', 'N/A']
Skipping row: ['Ambala', '30104 1', 'N/A']
Skipping row: ['Sirsa', '29256 2', 'N/A']
Skipping row: ['Rohtak', '25876 2', 'N/A']
Skipping row: ['Yamunanagar', '24566 2', 'N/A']
Skipping row: ['Bhiwani', '22394 ', 'N/A']
Skipping row: ['Kurukshetra', '22114 ', 'N/A']
Skipping row: ['Mahendragarh', '21687 ', 'N/A']
Skipping row: ['Jind', '21202 ', 'N/A']
Skipping row: ['Rewari', '20304 ', 'N/A']
Skipping row: ['Jhajjar', '18827 ', 'N/A']
Skipping row: ['Fatehabad', '17858 ', 'N/A']
Skipping row: ['Kaithal', '11218 ', 'N/A']
Skipping row: ['Palwal', '10981 ', 'N/A']
Skipping row: ['Charkhi Dadri', '5068 ', 'N/A']
Skipping row: ['Nuh', '5010 1', 'N/A']
Skipping row: ['District', 'Confirmed', 'Deaths']
Skipping row: ['Indore', '153011 4', 'N/A']
Skipping row: ['Bhopal', '123323 ', 'N/A']
Skipping row: ['Gwalior', '53092 1', 'N/A']
Skipping row: ['Jabalpur', '50641 ', 'N/A']
Skipping row: ['Ujjain', '18896 ', 'N/A']
Skipping row: ['Ratlam', '17854 ', 'N/A']
Skipping row: ['Sagar', '16592 1', 'N/A']
Skipping row: ['Rewa', '16431 ', 'N/A']
Skipping row: ['Khargone', '13965 ', 'N/A']
Skipping row: ['Betul', '12899 ', 'N/A']
Skipping row: ['Dhar', '12533 1', 'N/A']
Skipping row: ['Shivpuri', '12393 ', 'N/A']
Skipping row: ['Satna', '11965 ', 'N/A']
Skipping row: ['Vidisha', '11918 ', 'N/A']
Skipping row: ['Narsinghpur', '11200 ', 'N/A']
Skipping row: ['Hoshangabad', '10680 ', 'N/A']
Skipping row: ['Sehore', '10136 ', 'N/A']
Skipping row: ['Shahdol', '10080 ', 'N/A']
Skipping row: ['Katni', '9365 ', 'N/A']
Skipping row: ['Raisen', '9233 ', 'N/A']
Skipping row: ['Anuppur', '9229 ', 'N/A']
Skipping row: ['Sidhi', '9219 ', 'N/A']
Skipping row: ['Balaghat', '9090 ', 'N/A']
Skipping row: ['Singrauli', '8793 ', 'N/A']
Skipping row: ['Rajgarh', '8700 1', 'N/A']
Skipping row: ['Mandsaur', '8637 ', 'N/A']
Skipping row: ['Barwani', '8363 ', 'N/A']
Skipping row: ['Morena', '8236 ', 'N/A']
Skipping row: ['Damoh', '8120 ', 'N/A']
Skipping row: ['Neemuch', '7924 ', 'N/A']
Skipping row: ['Dewas', '7723 ', 'N/A']
Skipping row: ['Jhabua', '7688 ', 'N/A']
Skipping row: ['Chhatarpur', '7607 ', 'N/A']
Skipping row: ['Panna', '7319 2', 'N/A']
Skipping row: ['Datia', '6958 ', 'N/A']
Skipping row: ['Tikamgarh', '6863 ', 'N/A']
Skipping row: ['Seoni', '6774 ', 'N/A']
Skipping row: ['Chhindwara', '6732 ', 'N/A']
Skipping row: ['Shajapur', '6349 ', 'N/A']

                      State/UT     Total Cases  Total Deaths  Total Recovered
0                         India  44,993,480  88      531,895   44,459,660  146
1                   Maharashtra   8,169,654  19      148,553     8,020,959  23
2                        Kerala   6,906,858  13       71,938     6,833,790  40
3                     Karnataka    4,088,567  9       40,356      4,048,180  3
4                    Tamil Nadu    3,610,571  3       38,080      3,572,460  3
5                Andhra Pradesh      2,340,672        14,733        2,325,939
6                 Uttar Pradesh      2,145,384        23,705      2,121,585  7
7                   West Bengal   2,125,332  13       21,552     2,103,582  15
8                         Delhi    2,040,753  4       26,663      2,014,073  5
9                        Odisha    1,348,187  3        9,215      1,338,953  5
10                    Rajasthan    1,326,451  5        9,735      1,316,702  4
11                      Gujarat      1,291,341        11,079        1,280,248
12                 Chhattisgarh    1,187,676  1       14,190        1,173,476
13                      Haryana    1,078,870  2       10,754      1,068,084  3
14               Madhya Pradesh      1,056,347        10,786        1,045,556
15                        Bihar      855,251  2       12,314        842,924  1
16                    Telangana      844,330  3        4,111        840,200  9
17                       Punjab        792,388        19,338        773,044  1
18                        Assam        746,138         8,035          738,084
19            Jammu and Kashmir        482,014         4,792          477,209
20                  Uttarakhand        452,531         7,768          444,761
21                    Jharkhand        443,824         5,334        438,489  1
22             Himachal Pradesh      322,806  1        4,239        318,549  2
23                          Goa      263,277  3        4,014        259,236  4
24                      Mizoram      239,526  2          733       238,771  17
25                   Puducherry        177,535         1,981          175,551
26                      Manipur        139,973         2,149          137,806
27                      Tripura      108,305  4          941        107,350  1
28                   Chandigarh        100,687         1,185           99,501
29                    Meghalaya         96,952         1,628           95,323
30            Arunachal Pradesh       67,041  1          296         66,743  1
31                       Sikkim         44,851           500         44,342  1
32                     Nagaland         36,029           782           35,247
33                       Ladakh         29,586           231           29,355
34           Dadar Nagar Haveli         11,592             4           11,588
35                  Lakshadweep         11,415            52           11,363
36  Andaman and Nicobar Islands         10,766           129           10,637

In [ ]:
df

                      State/UT     Total Cases  Total Deaths  Total Recovered
0                         India  44,993,480  88      531,895   44,459,660  146
1                   Maharashtra   8,169,654  19      148,553     8,020,959  23
2                        Kerala   6,906,858  13       71,938     6,833,790  40
3                     Karnataka    4,088,567  9       40,356      4,048,180  3
4                    Tamil Nadu    3,610,571  3       38,080      3,572,460  3
5                Andhra Pradesh      2,340,672        14,733        2,325,939
6                 Uttar Pradesh      2,145,384        23,705      2,121,585  7
7                   West Bengal   2,125,332  13       21,552     2,103,582  15
8                         Delhi    2,040,753  4       26,663      2,014,073  5
9                        Odisha    1,348,187  3        9,215      1,338,953  5
10                    Rajasthan    1,326,451  5        9,735      1,316,702  4
11                      Gujarat      1,291,341        11,079        1,280,248
12                 Chhattisgarh    1,187,676  1       14,190        1,173,476
13                      Haryana    1,078,870  2       10,754      1,068,084  3
14               Madhya Pradesh      1,056,347        10,786        1,045,556
15                        Bihar      855,251  2       12,314        842,924  1
16                    Telangana      844,330  3        4,111        840,200  9
17                       Punjab        792,388        19,338        773,044  1
18                        Assam        746,138         8,035          738,084
19            Jammu and Kashmir        482,014         4,792          477,209
20                  Uttarakhand        452,531         7,768          444,761
21                    Jharkhand        443,824         5,334        438,489  1
22             Himachal Pradesh      322,806  1        4,239        318,549  2
23                          Goa      263,277  3        4,014        259,236  4
24                      Mizoram      239,526  2          733       238,771  17
25                   Puducherry        177,535         1,981          175,551
26                      Manipur        139,973         2,149          137,806
27                      Tripura      108,305  4          941        107,350  1
28                   Chandigarh        100,687         1,185           99,501
29                    Meghalaya         96,952         1,628           95,323
30            Arunachal Pradesh       67,041  1          296         66,743  1
31                       Sikkim         44,851           500         44,342  1
32                     Nagaland         36,029           782           35,247
33                       Ladakh         29,586           231           29,355
34           Dadar Nagar Haveli         11,592             4           11,588
35                  Lakshadweep         11,415            52           11,363
36  Andaman and Nicobar Islands         10,766           129           10,637

In [ ]:
url = 'https://ticker.finology.in/'

r = requests.get(url)

#print(r)

soup = BeautifulSoup(r.text,'lxml')

table = soup.find('table',{'class':'table table-sm table-hover screenertable'})
# Get tables headers
titles = []
headers = table.find_all('th')
for i in headers:
  title = i.text
  titles.append(title)

#print(titles)
df = pd.DataFrame(columns=titles)
#print(df)

# Let´s obtain all tr tags to get the content of the table
rows = table.find_all('tr')

for i in rows[1:]: # it begans with 1 because we already have the 0 index (it is the headers)
  data = i.find_all('td')
  row = [tr.text for tr in data]
  #print(row)
  l = len(df)
  df.loc[l] = row

print(df)

                     Company PriceRs. Day HighRs.
0      \nMazagon Dock Ship\n   1187.6        1216
1        \nHindustan Aeron\n   3844.7        3886
2   \nOne97 Communications\n   895.15       909.9
3    \nKalyan Jewell.India\n    131.1       134.9
4                    \nITC\n    453.1       455.6
5        \nIDFC First Bank\n     81.7       82.35
6   \nApollo Hospital Ent.\n  5200.05        5294
7     \nBharat Electronics\n    125.2      127.25
8      \nGarden Reach Ship\n    589.9       600.4
9               \nTitan Co\n   2954.3        2960
10      \nUltratech Cement\n  8333.25     8432.15
11     \nOlectra Greentech\n    926.2       967.7
12      \nKarur Vysya Bank\n   127.85       129.9
13        \nBritannia Inds\n   5044.7      5058.6
14          \nIndian Hotel\n   403.25       404.2

How to Deal With Multiple Pages - Part 1

In [ ]:
for i in range(2,11): #we want tget 10 pages
  url = 'https://www.flipkart.com/search?q=mobiles+under+5000&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&as-pos=3&as-type=RECENT&suggestionId=mobiles+under+5000%7CMobiles&requestId=210d711a-c40f-4210-a766-4a6ef2b54b7d&as-backfill=on&page='+str(i)
  r = requests.get(url)
  print(r)

  soup = BeautifulSoup(r.text,'lxml')
  #print(soup)

  np = soup.find('a',{'class':'_1LKTO3'}).get('href')
  #print(np)
  cnp = 'https://www.flipkart.com'+np
  print(cnp)

  #url = cnp
  #r = requests.get(url)
  #soup =BeautifulSoup(r.text, 'lxml')

<Response [200]>
https://www.flipkart.com/search?q=mobiles+under+5000&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&as-pos=3&as-type=RECENT&suggestionId=mobiles+under+5000%7CMobiles&requestId=210d711a-c40f-4210-a766-4a6ef2b54b7d&as-backfill=on&page=1
<Response [200]>
https://www.flipkart.com/search?q=mobiles+under+5000&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&as-pos=3&as-type=RECENT&suggestionId=mobiles+under+5000%7CMobiles&requestId=210d711a-c40f-4210-a766-4a6ef2b54b7d&as-backfill=on&page=2
<Response [200]>
https://www.flipkart.com/search?q=mobiles+under+5000&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&as-pos=3&as-type=RECENT&suggestionId=mobiles+under+5000%7CMobiles&requestId=210d711a-c40f-4210-a766-4a6ef2b54b7d&as-backfill=on&page=3
<Response [200]>
https://www.flipkart.com/search?q=mobiles+under+5000&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&as-pos=3&as-type=RECENT&suggestionId=mobiles+under+5000%7CMobiles&requestId=210d711a-c40f-4210-a766-4a6ef2b54b7d&as-backfill=on&page=4
<Response [200]>
https://www.flipkart.com/search?q=mobiles+under+5000&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&as-pos=3&as-type=RECENT&suggestionId=mobiles+under+5000%7CMobiles&requestId=210d711a-c40f-4210-a766-4a6ef2b54b7d&as-backfill=on&page=5
<Response [200]>
https://www.flipkart.com/search?q=mobiles+under+5000&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&as-pos=3&as-type=RECENT&suggestionId=mobiles+under+5000%7CMobiles&requestId=210d711a-c40f-4210-a766-4a6ef2b54b7d&as-backfill=on&page=6
<Response [200]>
https://www.flipkart.com/search?q=mobiles+under+5000&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&as-pos=3&as-type=RECENT&suggestionId=mobiles+under+5000%7CMobiles&requestId=210d711a-c40f-4210-a766-4a6ef2b54b7d&as-backfill=on&page=7
<Response [200]>
https://www.flipkart.com/search?q=mobiles+under+5000&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&as-pos=3&as-type=RECENT&suggestionId=mobiles+under+5000%7CMobiles&requestId=210d711a-c40f-4210-a766-4a6ef2b54b7d&as-backfill=on&page=8
<Response [200]>
https://www.flipkart.com/search?q=mobiles+under+5000&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_18_na_na_na&as-pos=3&as-type=RECENT&suggestionId=mobiles+under+5000%7CMobiles&requestId=210d711a-c40f-4210-a766-4a6ef2b54b7d&as-backfill=on&page=9

How to Deal with Multiple Pages - Part 2

In [ ]:
from itertools import zip_longest

In [ ]:
for i in range(1,11):
  url = 'https://www.flipkart.com/search?q=mobile+under+50000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(i)
  r = requests.get(url)
  #print(r)

  soup = BeautifulSoup(r.text,'lxml')
  box = soup.find('div',{'class':'_1YokD2 _3Mn1Gg'}) # use box because we eant to get the data from the box and not from the bottom page Reviews for Popular Mobiles
  #print(soup)

  # Get the product name and create a list
  names = box.find_all('div',{'class':'_4rR01T'})
  #print(names)

  product_name = []

  for i in names:
    name = i.text
    product_name.append(name)

  #print(len(product_name))

  # Get the price of the product
  prices = box.find_all('div',{'class':'_30jeq3 _1_WHN1'})
  #print(prices)

  price_product = []

  for i in prices:
    price = i.text
    price_product.append(price)

  #print(len(price_product))

  # Get the Description
  descriptions = box.find_all('ul',{'class':'_1xgFaf'})
  #print(descriptions)

  description_product = []

  for i in descriptions:
    description = i.text
    description_product.append(description)

  #print(len(description_product))

  # Get the Reviews
  reviews = box.find_all('div',{'class':'_3LWZlK'})
  review_product = [review.text if review is not None else None for review in reviews]

  #print(len(review_product))

# Create DataFrame
df = pd.DataFrame({
    'Product': product_name,
    'Price': price_product,
    'Description': description_product,
    'Review': review_product
})

df

,Product,Price,Description,Review
0,"POCO C50 (Royal Blue, 32 GB)","₹5,649",2 GB RAM | 32 GB ROM | Expandable Upto 512 GB1...,4.2
1,"POCO C50 (Country Green, 32 GB)","₹5,649",2 GB RAM | 32 GB ROM | Expandable Upto 512 GB1...,4.2
2,"POCO C51 (Royal Blue, 64 GB)","₹6,999",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,4.3
3,"POCO C51 (Power Black, 64 GB)","₹6,999",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,4.3
4,"REDMI 10 (Shadow Black, 64 GB)","₹9,499",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,4.3
5,"SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)","₹9,699",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,4.3
6,"POCO C55 (Cool Blue, 64 GB)","₹7,749",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,4.2
7,"REDMI A1+ (Light Blue, 32 GB)","₹6,599",3 GB RAM | 32 GB ROM | Expandable Upto 512 GB1...,4
8,"MOTOROLA e13 (Cosmic Black, 64 GB)","₹7,299",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,4
9,"REDMI A1+ (Light Green, 32 GB)","₹6,599",3 GB RAM | 32 GB ROM | Expandable Upto 512 GB1...,4
10,"POCO C55 (Power Black, 64 GB)","₹7,749",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,4.2
11,"REDMI A1+ (Black, 32 GB)","₹6,599",3 GB RAM | 32 GB ROM | Expandable Upto 512 GB1...,4
12,"vivo T2x 5G (Glimmer Black, 128 GB)","₹15,999",8 GB RAM | 128 GB ROM16.71 cm (6.58 inch) Full...,4.4
13,"vivo T2x 5G (Marine Blue, 128 GB)","₹15,999",8 GB RAM | 128 GB ROM16.71 cm (6.58 inch) Full...,4.4
14,"vivo T2x 5G (Aurora Gold, 128 GB)","₹13,999",6 GB RAM | 128 GB ROM16.71 cm (6.58 inch) Full...,4.4
15,"vivo T2x 5G (Marine Blue, 128 GB)","₹12,999",4 GB RAM | 128 GB ROM16.71 cm (6.58 inch) Full...,4.5
16,"vivo T2x 5G (Glimmer Black, 128 GB)","₹13,999",6 GB RAM | 128 GB ROM16.71 cm (6.58 inch) Full...,4.4
17,"vivo T2x 5G (Glimmer Black, 128 GB)","₹12,999",4 GB RAM | 128 GB ROM16.71 cm (6.58 inch) Full...,4.5
18,"vivo T2x 5G (Aurora Gold, 128 GB)","₹15,999",8 GB RAM | 128 GB ROM16.71 cm (6.58 inch) Full...,4.4
19,"APPLE iPhone SE 3rd Gen (Product (Red), 128 GB)","₹37,999",128 GB ROM11.94 cm (4.7 inch) Retina HD Displa...,4.3
20,"SAMSUNG Galaxy A52s 5G (Awesome Mint, 128 GB)","₹39,990",8 GB RAM | 128 GB ROM16.51 cm (6.5 inch) Displ...,4.2
21,"OnePlus 9RT 5G (Nano Silver, 128 GB)","₹39,990",8 GB RAM | 128 GB ROM16.81 cm (6.62 inch) Disp...,4.3
22,"Apple iPhone XR ((PRODUCT)RED, 64 GB) (Include...","₹36,999",64 GB ROM15.49 cm (6.1 inch) Display12MP Rear ...,4.6
23,"OnePlus 11R 5G (Sonic Black, 128 GB)","₹38,190",8 GB RAM | 128 GB ROM17.02 cm (6.7 inch) Displ...,4.5